container_commands:
  01_get_betfair_pem:
    command: "sudo aws s3 cp s3://elasticbeanstalk-eu-west-1-447737720704/stringer-api/betfair.pem ./config/betfair.pem"
  02_change_betfair_pem_owner:
    command: "chown wsgi ./config/betfair.pem"
  03_get_config_file:
    command: "sudo aws s3 cp s3://elasticbeanstalk-eu-west-1-447737720704/stringer-api/aws.py ./config/aws.py"
  04_node_install:
    command: 'yum install -y nodejs --enablerepo=epel'
  05_npm_install:
    command: 'yum install -y npm --enablerepo=epel'
  06_phantom_install:
    command: 'npm install -g phantomjs'

packages:
  yum:
    git: []
